@charset "utf-8";
/* CSS Document 
abcd */

.nevigation_menu 
{
	padding-right: 0px;
	margin-top:10px;
	background-color:  blue;
	padding-right: 0px;
	width: 160px;
	float:left;
	border-radius:10px;
}

.nevigation_menu ul
{
	list-style:none;
	font-size:12px;
	padding-left:10px;
}

.nevigation_menu ul li
{
	line-height: 32px;
	background: url("../images/arrow.png") no-repeat;
	padding-left:12px;
	margin-left:5px;
	border-bottom:1px solid rgb(230,230,230);
}

.nevigation_menu ul li a
{
	text-decoration:none;
	font-size:13px;
	color:white;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

.nevigation_menu ul li a:hover
{
	text-decoration: underline;
}

.nevigation_menu ul li:hover
 {
	background-color: #2F4F4F;
}